services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/lender_db
      - REDIS_URL=redis://cache:6379/0
      - WATCHFILES_FORCE_POLLING=true  
    depends_on:
      - db
      - cache

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: lender_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  cache:
    image: redis/redis-stack-server:latest
    ports:
      - "6379:6379"

volumes:
  postgres_data: